build/
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.cmake.user
*.cmake.user.*
.qtcreator/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
*.obj
*.obj.d
*.o
*.o.d
*.a
*.lib
*.dll
*.exe
*.exe.manifest
*.pdb
*.map
*.qrc.depends
*.moc
moc_*.cpp
mocs_compilation.cpp
moc_predefs.h
ui_*.h
qrc_*.cpp
Windows_AI_autogen/
